venv/
__pycache__/
node_modules/
.env*
*.pyc
*.db
.DS_Store

**/__pycache__
**/*.pyc
.idea/
.vscode/
coverage
*.log
instance
*.sqlite3
*.egg-info
dist/
build/
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.orig
*.rej
*.cover
htmlcov/
almembic.backuop/