@layer components{
    .kit-label {
      @apply block text-xs text-white/60 mb-1;
    }

   .kit-input {
  background-color: var(--color-bg-primary);
  @apply w-full border border-white/10 rounded
         px-3 py-1.5 text-sm text-white
         focus:outline-none focus:ring-2 focus:ring-orange-500;
}

}
